<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico"> 
    <!-- <link rel="preload" href="<%= BASE_URL %>fonts/Seravek_Basic_ExtraLight.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="<%= BASE_URL %>fonts/Seravek_Basic_Bold.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="<%= BASE_URL %>fonts/Seravek_Basic_Medium.otf" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="<%= BASE_URL %>fonts/AlibabaPuHui_Thin.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="<%= BASE_URL %>fonts/Acumin_BdPro.otf" as="font" type="font/otf" crossorigin> -->
    
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
