.app-header {
    font-family: "Seravek";
    display: flex;
    color: white;
    justify-content: space-between;
    z-index: 0;
    padding: 0 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 20vh;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}



.header-hamburger {
    height: 40apx;
    width: 40apx;
    justify-content: space-evenly;
    align-items: flex-end;
}

.header-hamburger-close {
    height: 2apx;
    align-items: center;
    justify-content: center;
}

.header-hamburger-line {
    width: 40apx;
    height: 2apx;
    background-color: white;
}

.header-hamburger-close-line {
    width: 40apx;
    height: 2apx;
    background-color: black;
    position: relative;
}

.header-overlay {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-color: white;
    color: black;
    z-index: 9997;
    padding-top: 25vh;
    justify-content: flex-start;
}

.header-navigation {
    width: 80%;
    /* height: 90%; */
    margin: 0 10%;
    /* display: flex; */
    font-family: AlibabaPuHui;
    
}

.header-navigation-relative, .header-navigation-before {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.header-navigation-cn {
    font-family: "Seravek";
    font-size: 25apx;
    margin-right: 60apx;
    white-space: nowrap;
    padding-top: 30apx;
    font-style: italic;
}

.header-navigation-en {
/* font-size: 200apx; */
    font-size: 180apx;
    line-height: 1;
}

.header-navigation a {
    align-items: center;
    text-decoration: none;
    display: flex;
    position: relative;
    overflow: hidden;
    /* 去掉下划线 */
    border: none;
    /* 去掉边框 */
    background: none;
    /* 去掉背景 */
    color: inherit;
    /* 继承父元素的颜色 */
    font-family: Seravek_Medium;
    font-weight: bold;
    margin-bottom: 40apx;
}

.header-navigation-en:hover {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:white;
}